body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #2c3e50;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 18px);
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#add-row-btn, #calculate-btn {
    margin-top: 10px;
}

#members-names {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.member-name-input {
    display: flex;
    flex-direction: column;
}

.file-label {
    padding: 10px 15px;
    background-color: #2ecc71;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

#import-json-input {
    display: none;
}

#transactions {
    margin-top: 10px;
    padding: 10px;
    background-color: #eafaf1;
    border-left: 5px solid #2ecc71;
}

#transactions p {
    margin: 5px 0;
}

.delete-btn {
    background-color: #e74c3c; /* Màu đỏ */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.creator-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#lang-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

#lang-switcher button {
    padding: 5px 10px;
    background-color: #bdc3c7;
    border: none;
    cursor: pointer;
}

#lang-switcher button.active {
    background-color: #3498db;
    color: white;
}
